---
import { PROJECTS } from "@config"
---

<h2>Projects</h2>
<ul>
  {
    PROJECTS.map((project) => (
      <li>
        {project.link ? (
          <a target="_blank" href={project.link}>{project.name}</a>
        ) : 
          <span>{project.name}</span>
        }
        {project.github ? 
          (<a target="_blank" href={project.github}>(View on Github)</a>)
          : null
        }
    {project.description ? <span>=&gt; {project.description}</span> : null}
      </li>
    ))
  }
</ul>
